<%= form_for Message.new, remote: false do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: "form-control", rows: 3, placeholder: "Type a message" %>
    <%= f.hidden_field :conversation_id, value: @conversation.id %>
  </div>

  <button type="submit" class="btn btn-primary mb-2">Send</button>
<% end %>
