<h1>Inbox</h1>

<div class="list-group">
  <a href="/users/5" class="list-group-item list-group-item-action flex-column align-items-start">
    <h5 class="mb-1">Hanh Nguyen</h5>
    <p>You: nhu cc dcm</p>
    <small>4 days ago</small>
  </a>

  <a href="/users/5" class="list-group-item list-group-item-action flex-column align-items-start">
    <h5 class="mb-1">Hanh Nguyen</h5>
    <p>You: nhu cc dcm</p>
    <small>4 days ago</small>
  </a>

  <a href="/users/5" class="list-group-item list-group-item-action flex-column align-items-start">
    <h5 class="mb-1">Hanh Nguyen</h5>
    <p>You: nhu cc dcm</p>
    <small>4 days ago</small>
  </a>

  <a href="/users/6" class="list-group-item list-group-item-action flex-column align-items-start">
    <h5 class="mb-1">Hanh Nguyen</h5>
    <p>You: nhu cc dcm</p>
    <small>4 days ago</small>
  </a>

  <a href="/users/6" class="list-group-item list-group-item-action flex-column align-items-start">
    <h5 class="mb-1">Hanh Nguyen</h5>
    <p>You: nhu cc dcm</p>
    <small>2 days ago</small>
  </a>
</div>
