<div class="col-lg banner">
  <h1><span class="light">Hodler</span><span class="strong">Zone</span></h1>
  <p>
    First social network for crypto enthusiasts.
  </p>
  <div class="moon">
    <%= image_tag 'moon.png' %>
  </div>
</div>
