<div class="row">
  <%= render "user", user: @user %>

  <div class="col-xl-9 col-md-8">
    <% if current_user == @user || current_user.is_friends_with?(@user) %>
      <%= render 'posts/form', placeholder: get_post_hint %>
    <% end %>

    <div class="posts">
      <% if !@user.posts.empty? %>
        <% @posts.each do |post| %>
          <%= render 'posts/post', post: post %>
        <% end %>
      <% else %>
        <br><%= @user.first_name %> hasn't posted anything yet.
      <% end %>
    </div>
  </div>
</div>
