<div class="row">
  <%= render "user", user: @user %>

  <div class="col-xl-9 col-md-8">
    <% if current_user == @user %>
      <%= render 'posts/form' %>
    <% end %>

    <% if !@user.posts.empty? %>
      <% @user.posts.order("created_at desc").each do |post| %>
        <%= render 'posts/post', post: post %>
      <% end %>
    <% else %>
      <%= @user.first_name %> hasn't posted anything yet.
    <% end %>
  </div>
</div>
