<div class="row user show">
  <%= render "users/user", user: @user %>

  <div class="col-xl-9 col-md-8 friends">
    <h2>
      <%= @user.first_name %>'s friends
    </h2>

    <% @friends.in_groups_of(2).each do |group| %>
      <div class="row">
        <% group.each do |friend| %>
          <% if friend %>
            <%= render "friendships/friend", friend: friend %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
