<%= render 'posts/form', placeholder: get_post_hint %>

<div class="posts">
  <% @posts.each do |post| %>
    <%= render 'posts/post', post: post %>
  <% end %>
</div>

<div class="mt-5">
  <%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
