$background-color: black;

body{
  font-weight: 100;
  padding: 100px 0px;
  background-color: $background-color;
  color: white;
}

.light{
  font-weight: 100;
}

.strong{
  font-weight: 400;
}

.form-group.inline{
  display: flex;
  justify-content: space-between;
  > .form-group{
    width: 48%;
    flex-basis: 1;
  }
}

.user.card{
  background-color: $background-color;
  border: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 30px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  .profile-picture{
    max-width: 200px;
    img{
      width: 100%;
      height: 100%;
      border-radius: 0.25rem;
    }
  }
  h2{
    margin-top: 20px;
    margin-bottom: 15px;
  }
}

.btn-primary{
  margin-bottom: 15px;
}

#error_explanation{
  ul{
    li{
      color: #dc3545;
    }
  }
}

.user.friends.card{
  .row{
    margin: 0px;
    width: 100%;
    .row{
      margin-bottom: 20px;
      .col-4{
        padding-left: 5px;
        padding-right: 5px;
        img{
          width: 100%;
          height: 100%;
          border-radius: 0.25rem;
        }
      }
    }
  }
}

.avatar.overlay{
  position: absolute;
  right: 5px;
  left: 5px;
  height: 100%;
  border-radius: 0.25rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: linear-gradient(transparent, #333);
  color: white;
}

.moon{
  width: 100%;
  img{
    width: 100%;
  }
}

.user.show{
  padding-top: 30px;
  .friends{
    h2{
      margin-bottom: 30px;
    }
    .friend{
      margin-bottom: 30px;
    }
  }
}

.mobile_friends_count{
  display: none;
}

@media (max-width: 767px){
  .user.friends.card{
    display: none;
  }
  .mobile_friends_count{
    display: block;
  }
}

@media (max-width: 991px){
  .banner{
    .moon{
      position: absolute;
    }
    margin-bottom: 30px;
  }
}
